body {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	font-family: 'Rubik', sans-serif;
	background: #edeef0;
}

.bg {
	background: white;
}	

/*1. Шапка сайта*/
.header {
	width: 100%;
	height: 100px;
	background: #517CC7;
}

/*1.1 Позиция блоко*/
.pos {
	display: inline-block;

}
/*1.1.1 Позиция Лево*/
.pos_left {
	float: left;
}

/*1.1.2 Позиция Право*/
.pos_right{
	float: right;
}

/*1.2 Главное меню*/
#logo {
	width: 16%;
	height: 25%;
	margin-left: 20px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

/*1.3 Поиск*/
.srch_block {
	width: 50%;
	height: 25%;
	margin-left: 160px;
	margin-top: 30px;
	size: 60px;
}

/*1.3.1 Блок ввода поиска*/
.srch_inp {
	width: 74%;
	height: 100%;
}

/*1.3.1.1 Ввод поиска*/
.srch_inp input {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	font-size: 20px;
}

/*1.3.2 Блок кнопки поиска*/
.srch_btn {
	height: 113%;
	margin-left: 12px;
	margin-top: 1px;
}

/*1.3.2.1 Кнопка поиска*/
.srch_btn button {
	width: 30%;
	height: 105%;
	border-radius: 5px;
	outline: none;
}
/*1.3.2.1.1 Изображение кнопки поиска*/
.srch_btn_img {
	width: 70%;
	height: 70%;
}

/*2. Тело сайта*/
.body {}

/*2.1 Блок новостей*/
#news {
	margin-top: 10px;
	width: 100%;
	padding-bottom: 20px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

/*2.1.1 Заголовок новостей*/
.title {
	width: 99%;
	height: 40px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #DEE1E8;
}

/*2.1.2 Текст новости*/
.txt {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	font-size: 17px;
}

/*Подвал сайта*/
.footer {
	margin-top: 10px;
	width: 100%;
	height: 80px;
	background: #517CC7;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
